<!DOCTYPE html>
<html>
<head>
<title>Roupinhas Gulosas ;3</title>
<link href="style.css" rel="stylesheet"></link>
<link rel="icon" type="image/png" sizes="64x64" href="thumb.png">
<script type="module" defer>
"use strict";
const is_dev = location.hostname === "localhost" || location.href.includes("file://");
const src = (is_dev)?"https://esm.run/vue@3/dist/vue.esm-browser.js":"https://esm.run/vue@3/dist/vue.esm-browser.prod.js"
const { createApp , reactive , ref , computed } = await import(src);


const tipos = ["Gargantilha","Blusa","Cropped","Sutiã","Saia","Minissaia","Shorts","Suspensório","Meias","Adereço","Dildo","Lingerie","Conjuntinho"];

let usuarios = reactive({});

let produtos = reactive([]);

let conjuntinhos = reactive([]);

let itens = computed(() => produtos.concat(conjuntinhos));

let ids_por_ordem = reactive([]);

let recomendacoes_por_usuario = reactive({});

function pluralizar(singular,plural,quantia){
if(quantia==1) return singular;
return plural;
}

class usuario{
cor="#00ccccc";
id = 0n;
nome = "";
constructor(cor,id,nome){
let str = '00ccccc';
switch(cor.length){
case 7:
str = cor;
break;
case 6:
str = "#"+cor;
break;
case 4:
str = cor[0]+cor[1]+cor[1]+cor[2]+cor[2]+cor[3]+cor[3];
break;
case 3:
str = "#"+cor[0]+cor[0]+cor[1]+cor[1]+cor[2]+cor[2];
break;
default:
console.log("%cCriado com cor #00ccccc","color:#00cccc;");
str = "#00cccc"
break;
}
this.cor=str.toLowerCase();
this.nome=nome;
this.id=id;
usuarios[id]=this;
}
}

class Produto{
tipo = "";
url = {produto:"",imagem:""};
preco = 0;
recomendador = 0n;
descricao = "";
constructor(tipo,url,preco,recomendador,descricao){
if(tipos.includes(tipo)){
this.tipo=tipo;
}
else{
throw new ReferenceError("\nProduto de tipo inválido.");
}
if(usuarios.hasOwnProperty(recomendador)){
this.recomendador=recomendador
}
else{
throw new ReferenceError("ID de usuário recomendador inválido");
}
this.url=url;
this.preco=preco;
this.descricao=descricao;
};

    toJSON(){
    return {"tipo":this.tipo,"url":{"produto":this.url.produto,"imagem":this.url.imagem},"preco":this.preco.toString(),"recomendador":this.recomendador.toString(),"descricao":this.descricao};
    };

    static fromJSON(json){
    return new Produto(json.tipo,{"produto":json.url.produto,"imagem":json.url.imagem},Number(json.preco),BigInt(json.recomendador),json.descricao)
    };
}

class Conjuntinho extends Produto{
partes = [""];
constructor(url,preco,recomendador,descricao,partes){
super("Conjuntinho",url,preco,recomendador,descricao);
let invalidas = [];
for(let parte of partes){
if(tipos.includes(parte)==false||parte=="Conjuntinho"){
invalidas.push(parte);
}
if(invalidas.length){
console.log(partes);
if(invalidas.length==1) throw new Error(`\nParte inválida: ${invalidas[0]}`);
else throw new Error(`\nPartes inválidas: ${invalidas.join(", ")}`);
}
this.partes=partes;
}
}

    toJSON(){
    return {"tipo":this.tipo,"url":{"produto":this.url.produto,"imagem":this.url.imagem},"preco":this.preco.toString(),"recomendador":this.recomendador.toString(),"descricao":this.descricao,partes:this.partes.join(",")};
    };

    static fromJSON(json){
    return new Conjuntinho(json.tipo,{"produto":json.url.produto,"imagem":json.url.imagem},Number(json.preco),BigInt(json.recomendador),json.descricao,json.partes.split(","))
    };

}


createApp({
data(){
return{
usuarios,
produtos,
conjuntinhos,
itens,
ids_por_ordem,
recomendacoes_por_usuario,
pluralizar,
}
}
}).mount("#vue");

// Testing

if(is_dev){
window.tipos=tipos;
window.usuario=usuario;
window.produto=Produto;
window.conjuntinho=Conjuntinho;
window.usuarios=usuarios;
window.produtos=produtos;
window.conjuntinhos=conjuntinhos;
window.itens=itens;
window.ids_por_ordem=ids_por_ordem;
window.recomendacoes_por_usuario=recomendacoes_por_usuario;
//usuarios[0n]={}
}

new usuario("#E81F63",1019164961206960150n,"Odani");
new usuario("#FF0000",1367721233738633329n,"Slimmiest of Shadys :3");
new usuario("#1f99c5",1423669363411783700n,"Geladeira Ovo");
new usuario("#000000",-1n,"Anônimo");

//add os produtinhos ( primeiro manual, dps acha um jeito de add automático )

/*
Template:

produtos.push(new Produto("Tipo",
{"produto":"",
"imagem":""}
,0.00,0n,"Desc"));

*/

produtos.push(new Produto("Tipo",
{"produto":"",
"imagem":""}
,0.00,0n,"Desc"));


//FIM DOS PRODUTOS, HORA DOS CONJUNTINHOS

/*
Template:

conjuntinhos.push(new Conjuntinho(
{"produto":"",
"imagem":""}
,0.00,0n,"Desc",["Tipo1","Tipo2"]));

*/

conjuntinhos.push(new Conjuntinho(
{"produto":"https://br.shein.com/SHEINDrisQFantasiaSexyMasculinacomEstampaXadrezeDecorodeLaço-Halter-p-78865480-cat-8348.html?url_from=GM74853309345&share_from=br&campaign_id=20&url_from=affiliate_koc_4853309345",
"imagem":"https://img.ltwebstatic.com/v4/j/pi/2025/05/16/98/17473780161600236128ae6aa482cca32476c0d4f2_thumbnail_900x.webp"}
,69.95,1019164961206960150n,"Desc",["Cropped","Saia"]));

//organisar os usuários, por ordem
for(let item of itens.value){
if(Object.keys(recomendacoes_por_usuario).includes(item.recomendador.toString())==false) recomendacoes_por_usuario[item.recomendador]=0;
recomendacoes_por_usuario[item.recomendador]++;
}
for(let key of Object.keys(recomendacoes_por_usuario)){
ids_por_ordem.push(key);
}
ids_por_ordem=ids_por_ordem.sort((a,b)=>{return recomendacoes_por_usuario[String(a)]-recomendacoes_por_usuario[String(b)]});
while(ids_por_ordem.length>3) ids_por_ordem.pop();
ids_por_ordem.reverse();
// tem q fazer só esses 3 aparecerem



</script>
</head>
<body>
<div id="vue">
<span style="color: #00cec8; font-weight: bold; font-size: calc(1vmax + 1vmin);">Top 3 Usuários:</span>

<div v-for="(id,index) in Object.values(ids_por_ordem)">
<span :style="{color:['#FEE101','#A7A7AD','#CD7F32'].at(index),fontSize:`calc(1vmax + ${0.5 - index * 0.25}vmin)`}" style="font-weight: bold;">
    {{ index+1 }}° lugar: 
    <span :style="{color: usuarios[id].cor}">{{usuarios[id].nome}}</span>
    - {{ recomendacoes_por_usuario[id] }} Recomendaç{{pluralizar("ão","ões",recomendacoes_por_usuario[id])}} 
</span>
</div>

<br>

<div class="container">
<div v-for="item in itens" class="box">
{{item.descricao}}<br>
Recomendado por: <span style="font-weight: bold;" :style="{color: usuarios[item.recomendador].cor}">{{usuarios[item.recomendador].nome}}</span><br>
<a :href="item.url.produto" target="_blank">Clique aqui para comprar</a> (R${{item.preco.toFixed(2)}}) <br>
<img :src="item.url.imagem" style="max-width: calc(12vmin + 12vmax); max-height:calc(20vmin + 20vmax);">
</div>
</div>
</div>
</body>
</html>